
/******************************GERAL********************************/

html, body, #home {
    height: 100%;
    overflow-x: hidden;
}


h1{
    font-weight: 900;
    letter-spacing:  -0.05em;
    margin-bottom: 50px;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.986);
}

nav.navbar-transparent{

    padding: 15px 0px;
    background: rgba(0,0,0,.6); 

}

.navbar-light .navbar-toggler{

    color: white;
    border-color: white;

}

#home{

    overflow-y: hidden;
    background: #CEE3F6;
    
}

/************************************RESUMO*********************************************/

.sobre{

    margin-top: 45px;

}


/********************************ICONES***********************************************/

.fab{
    
    
    font-size: 2em;
    margin: 10px 20px;
    margin-left: 6px;
    color: black;

}

/********************************PREMIOS***********************************************/

#hab{
    padding: 40px;
}

/***********************************PREMIOS*************************************************/





/********************************EXPERIENCIAS***********************************************/

#exper{

    background: #0A0A2A;
    height: 100%;

}

.experiencia {
    color: #fff;
    padding: 30px;
    margin: 10px;
    text-align: center;

}

/********************************RODAPE**********************************************/

#rodape{

    background: #000;
    color: #fff;
    padding: 30px 30px;
}