
/******************************GERAL********************************/

html, body, #home {
    height: 100%;
    overflow-x: hidden;
}


h1{
    font-weight: 900;
    letter-spacing:  -0.05em;
    margin-bottom: 50px;
    color: black;
}

.navbar {

    border: 2px solid red;

}
nav.navbar-transparent{

    padding: 15px 0px;
    background: rgba(0,0,0,.6); 

}

.imagem{

    border: 1px solid red;

}

